In [24]:
import numpy as np
import pandas as pd
import requests
import lxml.html as lh

from tabulate import tabulate
import json, time, datetime
import telegram

pd.set_option('display.max_rows', 500)

In [25]:
# !pip install pandas requests lxml beautifulsoup4 python-telegram-bot tabulate --upgrade

# Telegram API

In [26]:
class TelegramMessenger:
    """
    https://forums.fast.ai/t/training-metrics-as-notifications-on-mobile-using-callbacks/17330/4

    Utilizes this API Library:
       https://github.com/python-telegram-bot/python-telegram-bot
    To install:
       pip install python-telegram-bot --upgrade

    {"api_key": "462203107:<your API key>",
     "chat_id": "<your chat ID>"}

    Here's how you get an API key:
       https://core.telegram.org/api/obtaining_api_id
    Here's how you get your chat ID:
       https://stackoverflow.com/questions/32423837/telegram-bot-how-to-get-a-group-chat-id

    """

    def __init__(self, cred_file_path):
        self.__credentials = json.loads(open(cred_file_path).read())
        # Initialize bot
        self.bot = telegram.Bot(token=self.__credentials['api_key'])

    def send_message(self, message='Done'):
        self.bot.send_message(parse_mode='HTML', chat_id=self.__credentials['chat_id'], text=message)

# Global data

In [86]:
def get_data():
    url = 'https://www.worldometers.info/coronavirus'
    page = requests.get(url)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//*[@id="main_table_countries_today"]/tbody[1]')
    rows = []
    #For each row, store each first element (header) and an empty list
    for t in tr_elements[0]:
        row = [x.text_content() for x in t.findall('td')[:-1]]
        rows.append(row)

    columns = ['Country', 'Confirmed', 'New', 'Deaths',
               'New Deaths', 'Recovered', 'Active', 'x', 'x']
    df = pd.DataFrame(rows, columns=columns)
    df = df.astype(str).replace('', 0).iloc[:, :-2]
    
    for col in df.columns[1:]:
        df[col] = df[col].str.replace(' ', '').replace(
            ',', '', regex=True).replace('+', '').apply(pd.to_numeric).fillna(0).astype(int)
        
    df = df.sort_values(['New', 'Confirmed'], ascending=False)
    total = df.sum().values
    total[0] = 'Total'
    return pd.concat([pd.DataFrame([total], columns=df.columns), df])
    

df = get_data()
df.head(300)

,Country,Confirmed,New,Deaths,New Deaths,Recovered,Active
0,Total,549359,17549,24872,804,128699,395788
3,Spain,64059,6273,4858,493,9357,49844
4,Germany,47278,3340,281,14,5673,41324
5,Iran,32332,2926,2378,144,11133,18821
11,Belgium,7284,1049,289,69,858,6137
12,Austria,7269,360,58,9,225,6986
18,Israel,3035,342,10,2,79,2946
1,USA,85749,314,1304,9,1868,82577
29,Romania,1292,263,24,1,115,1153
35,Russia,1036,196,3,0,45,988
33,Indonesia,1046,153,87,9,46,913
7,Switzerland,11951,140,197,5,897,10857
22,Czechia,2062,137,9,0,10,2043
23,Denmark,2010,133,41,0,1,1968
17,Australia,3180,130,13,0,170,2997
21,Malaysia,2161,130,26,3,259,1876
47,Mexico,585,110,8,2,4,573
39,Philippines,803,96,54,9,31,718
9,S. Korea,9332,91,139,8,4528,4665
32,Thailand,1136,91,5,1,97,1034
34,Finland,1038,80,5,0,10,1023
57,Iraq,458,76,40,4,122,296
16,Norway,3443,71,16,2,6,3421
45,Slovenia,632,70,9,3,10,613
41,India,794,67,20,0,73,701
52,Hong Kong,518,64,4,0,111,403
50,Croatia,551,56,3,0,37,511
0,China,81340,55,3292,5,74588,3460
20,Sweden,2893,53,77,0,16,2800
30,Pakistan,1252,51,9,0,23,1220
62,Lithuania,345,46,5,1,1,339
69,Slovakia,269,43,0,0,2,267
64,Armenia,329,39,1,0,28,300
65,Hungary,300,39,10,0,34,256
73,Bosnia and Herzegovina,230,39,3,0,5,222
49,Estonia,575,37,1,0,11,563
66,Latvia,280,36,0,0,1,279
74,Tunisia,227,30,6,1,2,219
75,Ukraine,226,30,5,0,4,217
31,Poland,1244,23,16,0,7,1221
59,Lebanon,391,23,7,1,23,361
90,Oman,131,22,0,0,23,108
76,Kuwait,225,17,0,0,57,168
70,Taiwan,267,15,2,0,30,235
93,Senegal,119,14,0,0,11,108
115,Kyrgyzstan,58,14,0,0,0,58
119,Mayotte,50,14,0,0,0,50
102,Cameroon,88,13,2,1,2,84
67,Bulgaria,276,12,3,0,8,265
81,Albania,186,12,8,2,31,147
91,Kazakhstan,125,12,1,0,2,122
117,Paraguay,52,11,3,0,1,48
83,Vietnam,163,10,0,0,20,143
56,Bahrain,466,8,4,0,227,235
100,Belarus,94,8,0,0,32,62
103,Uzbekistan,83,8,1,1,5,77
87,Malta,139,5,0,0,2,137
101,Palestine,91,5,1,0,17,73
86,Faeroe Islands,144,4,0,0,54,90
88,Ghana,136,4,4,0,1,131
121,Bangladesh,48,4,5,0,11,32
135,Uganda,18,4,0,0,0,18
136,Ethiopia,16,4,0,0,0,16
152,Guinea,8,4,0,0,0,8
19,Brazil,2988,3,77,0,6,2905
127,Isle of Man,29,3,0,0,0,29
150,Greenland,9,3,0,0,2,7
106,Georgia,81,2,0,0,13,68
168,Zimbabwe,5,2,1,0,0,4
94,Brunei,115,1,0,0,11,104
97,Cambodia,99,1,0,0,11,88
108,Montenegro,70,1,1,0,0,69
109,Honduras,68,1,1,0,0,67
132,Togo,25,1,0,0,1,24
134,Madagascar,24,1,0,0,0,24
139,New Caledonia,15,1,0,0,0,15
140,Maldives,14,1,0,0,9,5
180,Bhutan,3,1,0,0,0,3
188,Somalia,3,1,0,0,0,3
2,Italy,80589,0,8215,0,10361,62013
6,France,29155,0,1696,0,4948,22511
8,UK,11658,0,578,0,135,10945
10,Netherlands,7431,0,434,0,3,6994
13,Canada,4043,0,39,0,228,3776
14,Turkey,3629,0,75,0,26,3528
15,Portugal,3544,0,60,0,43,3441
24,Ireland,1819,0,19,0,5,1795
25,Luxembourg,1453,0,9,0,6,1438
26,Ecuador,1403,0,34,0,3,1366
27,Japan,1387,0,47,0,359,981
28,Chile,1306,0,4,0,22,1280
36,Saudi Arabia,1012,0,3,0,33,976
37,South Africa,927,0,2,2,12,913
38,Greece,892,0,27,0,42,823
40,Iceland,802,0,2,0,82,718
42,Diamond Princess,712,0,10,0,597,105
43,Singapore,683,0,2,0,172,509
44,Panama,674,0,9,0,2,663
46,Argentina,589,0,12,0,72,505
48,Peru,580,0,9,0,14,557
51,Qatar,549,0,0,0,43,506
53,Egypt,495,0,24,0,102,369
54,Colombia,491,0,6,0,8,477
55,Dominican Republic,488,0,10,0,3,475
58,Serbia,457,0,8,1,15,434
60,New Zealand,368,0,0,0,37,331
61,Algeria,367,0,25,0,29,313
63,UAE,333,0,2,0,52,279
68,Morocco,275,0,11,0,8,256
71,Uruguay,238,0,0,0,0,238
72,Costa Rica,231,0,2,0,2,227
77,Andorra,224,0,3,0,1,220
78,Jordan,212,0,0,0,2,210
79,San Marino,208,0,21,0,4,183
80,North Macedonia,201,0,3,0,3,195
82,Moldova,177,0,2,1,2,173
84,Burkina Faso,152,0,7,0,10,135
85,Cyprus,146,0,3,0,4,139
89,Réunion,135,0,0,0,1,134
92,Azerbaijan,122,0,3,0,15,104
95,Venezuela,107,0,1,0,31,75
96,Sri Lanka,106,0,0,0,7,99
98,Ivory Coast,96,0,0,0,3,93
99,Afghanistan,94,0,4,0,2,88
104,Mauritius,81,0,2,0,0,79
105,Martinique,81,0,1,0,0,80
107,Guadeloupe,73,0,1,0,0,72
110,Cuba,67,0,2,0,1,64
111,Channel Islands,66,0,1,0,0,65
112,Nigeria,65,0,1,0,3,61
113,Trinidad and Tobago,65,0,1,0,0,64
114,Bolivia,61,0,0,0,0,61
116,Liechtenstein,56,0,0,0,0,56
118,DRC,51,0,3,0,2,46
120,Rwanda,50,0,0,0,0,50
122,Gibraltar,35,0,0,0,13,22
123,Macao,33,0,0,0,10,23
124,Monaco,33,0,0,0,1,32
125,Kenya,31,0,1,0,1,29
126,French Polynesia,30,0,0,0,0,30
128,Aruba,28,0,0,0,1,27
129,French Guiana,28,0,0,0,6,22
130,Jamaica,26,0,1,0,2,23
131,Guatemala,25,0,1,0,4,20
133,Barbados,24,0,0,0,0,24
137,Zambia,16,0,0,0,0,16
138,Bermuda,15,0,0,0,2,13
141,El Salvador,13,0,0,0,0,13
142,Tanzania,13,0,0,0,0,13
143,Equatorial Guinea,12,0,0,0,0,12
144,Djibouti,11,0,0,0,0,11
145,Dominica,11,0,0,0,0,11
146,Mongolia,11,0,0,0,0,11
147,Saint Martin,11,0,0,0,0,11
148,Niger,10,0,1,0,0,9
149,Bahamas,9,0,0,0,1,8
151,Cayman Islands,8,0,1,0,0,7
153,Haiti,8,0,0,0,0,8
154,Namibia,8,0,0,0,2,6
155,Suriname,8,0,0,0,0,8
156,Curaçao,7,0,1,0,2,4
157,Gabon,7,0,1,0,0,6
158,Antigua and Barbuda,7,0,0,0,0,7
159,Grenada,7,0,0,0,0,7
160,Mozambique,7,0,0,0,0,7
161,Seychelles,7,0,0,0,0,7
162,Benin,6,0,0,0,0,6
163,Eritrea,6,0,0,0,0,6
164,Laos,6,0,0,0,0,6
165,Eswatini,6,0,0,0,0,6
166,Cabo Verde,5,0,1,0,0,4
167,Guyana,5,0,1,0,0,4
169,Fiji,5,0,0,0,0,5
170,Montserrat,5,0,0,0,0,5
171,Myanmar,5,0,0,0,0,5
172,Syria,5,0,0,0,0,5
173,Angola,4,0,0,0,0,4
174,Congo,4,0,0,0,0,4
175,Vatican City,4,0,0,0,0,4
176,Mali,4,0,0,0,0,4
177,Gambia,3,0,1,0,0,2
178,Sudan,3,0,1,0,0,2
179,Nepal,3,0,0,0,1,2
181,CAR,3,0,0,0,0,3
182,Chad,3,0,0,0,0,3
183,Liberia,3,0,0,0,0,3
184,Mauritania,3,0,0,0,0,3
185,St. Barth,3,0,0,0,0,3
186,Saint Lucia,3,0,0,0,1,2
187,Sint Maarten,3,0,0,0,0,3
189,Nicaragua,2,0,1,1,0,1
190,Anguilla,2,0,0,0,0,2
191,Belize,2,0,0,0,0,2
192,British Virgin Islands,2,0,0,0,0,2
193,Guinea-Bissau,2,0,0,0,0,2
194,Saint Kitts and Nevis,2,0,0,0,0,2
195,Turks and Caicos,2,0,0,0,0,2
196,Libya,1,0,0,0,0,1
197,Papua New Guinea,1,0,0,0,0,1
198,St. Vincent Grenadines,1,0,0,0,0,1
199,Timor-Leste,1,0,0,0,0,1

# India data

In [110]:
def get_time_series():
    url = 'https://api.covid19india.org/data.json'
    page = requests.get(url)
    df = pd.DataFrame(json.loads(page.content)['cases_time_series']).dropna().set_index('date')
    df = df.iloc[-10:-1,:2]
#     df.loc["Total"] = df.sum()
    df.columns = ['Cases', 'Deaths']
    df = df.astype(int)
    df['%Change'] = df.Cases.pct_change()*100
    df = df[-7:]
    df['%Change'] = df['%Change'].astype(int)
    return df
    
get_time_series()

           Cases  Deaths  %Change
date
20 March      59       0      110
21 March      76       0       28
22 March      69       3       -9
23 March     102       2       47
24 March      66       1      -35
25 March      86       1       30
26 March      78       5       -9

In [19]:
def get_data():
    url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSc_2y5N0I67wDU38DjDh35IZSIS30rQf7_NYZhtYYGU1jJYT6_kDx4YpF-qw0LSlGsBYP8pqM_a1Pd/pubhtml#'
    page = requests.get(url)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//*[@id="1896310216"]/div/table/tbody')
    rows=[]
    #For each row, store each first element (header) and an empty list
    for t in tr_elements[0]:
        row = [x.text_content() for x in t.findall('td')[:-1]]
        rows.append(row)

    df = pd.DataFrame(rows[1:], columns=rows[0]).replace('', None).dropna().drop_duplicates()
    df[['Confirmed', 'Recovered', 'Deaths', 'Active']] = df[['Confirmed', 'Recovered', 'Deaths', 'Active']].apply(pd.to_numeric)
    return df

df = get_data()
print(len(df))
df.head()

38

         State    Confirmed  Recovered  Deaths  Active
0        Total          569         40      10     519
2       Kerala          109          4       0     105
3  Maharashtra          107          0       2     105
4    Karnataka           41          3       1      37
5    Telangana           37          1       0      36

In [92]:
# df_new = df.copy()
# df_new.Confirmed = list(np.random.randint(50, size=10)) + df.Confirmed.to_list()[10:38]
# df_new = df_new.sample(frac=1)
# df_new.head()

In [28]:
def get_clean_table(df):
    message = tabulate(df, headers='keys',
                       tablefmt='simple', numalign="center")
    return '<pre>' + message + '</pre>'

try:
    bot = TelegramMessenger('../india-config.json')
except:
    bot = TelegramMessenger('india-config.json')

In [95]:
curr_date = datetime.datetime.now().date()

while True:
    df_new = get_data()
    df_update = df_new
#     df_update['old_confirmed'] = df.Confirmed
    df_update = df_update.merge(df.rename({'Confirmed': 'old_confirmed'}, axis=1))
    df_update['New'] = df_update['Confirmed'] - df_update['old_confirmed']
    df_update = df_update[df_update['New']>0]
    print(df_update)
    df_update = df_update[['State', 'New', 'Confirmed', 'Deaths']].set_index('State')
    curr_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M")
    curr_time = f'Case update at: {curr_time}'
    print(curr_time)
    if len(df_update)>0:
        message = get_clean_table(df_update)
        print(message)
        bot.send_message(curr_time)
        bot.send_message(message)
    else:
        print('No new cases')
    date = datetime.datetime.now().date()
    if date != curr_date:
        df = df_new
#     break
    time.sleep(600)

Empty DataFrame
Columns: [State, , Confirmed, Recovered, Deaths, Active, old_confirmed, New]
Index: []
Case update at: 2020-03-23 23:31
No new cases

KeyboardInterrupt:

In [393]:
# !jupyter nbconvert --to script telegram.ipynb

[NbConvertApp] Converting notebook telegram.ipynb to script
[NbConvertApp] Writing 3206 bytes to telegram.py

In [111]:
bot = TelegramMessenger('../test-config.json')

In [9]:
df = get_data()

In [10]:
df = df[['Country', 'New', 'Confirmed', 'Deaths']]
df.Country = df.Country.apply(lambda x: x[:8])
df = df.rename({'Country': 'Count','Confirmed':'Conf'}, axis=1).set_index('Count')

In [18]:
# .replace(' | ', '|').replace('------|', '|')
message = '<pre>' + tabulate(df[:40], headers='keys', tablefmt='simple', numalign="center") + '</pre>'
bot.send_message(message)

In [76]:
# url = f'https://api.telegram.org/bot11352/getUpdates'
# requests.get(url).text

In [33]:
# for g, sub_df in df.groupby(np.arange(len(df)) // 40):
#     print(sub_df.shape)

In [112]:
bot.send_message(get_clean_table(get_time_series()))