In [1]:
import numpy as np
import pandas as pd
import requests
import lxml.html as lh

from tabulate import tabulate
import json, time, datetime
import telegram

pd.set_option('display.max_rows', 500)

In [2]:
# !pip install pandas requests lxml beautifulsoup4 python-telegram-bot tabulate --upgrade

# Telegram API

In [3]:
class TelegramMessenger:
    """
    https://forums.fast.ai/t/training-metrics-as-notifications-on-mobile-using-callbacks/17330/4

    Utilizes this API Library:
       https://github.com/python-telegram-bot/python-telegram-bot
    To install:
       pip install python-telegram-bot --upgrade

    {"api_key": "462203107:<your API key>",
     "chat_id": "<your chat ID>"}

    Here's how you get an API key:
       https://core.telegram.org/api/obtaining_api_id
    Here's how you get your chat ID:
       https://stackoverflow.com/questions/32423837/telegram-bot-how-to-get-a-group-chat-id

    """

    def __init__(self, cred_file_path):
        self.__credentials = json.loads(open(cred_file_path).read())
        # Initialize bot
        self.bot = telegram.Bot(token=self.__credentials['api_key'])

    def send_message(self, message='Done'):
        self.bot.send_message(parse_mode='HTML', chat_id=self.__credentials['chat_id'], text=message)

# Global data

In [6]:
def get_data():
    url = 'https://www.worldometers.info/coronavirus'
    page = requests.get(url)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//*[@id="main_table_countries_today"]/tbody[1]')
    rows = []
    #For each row, store each first element (header) and an empty list
    for t in tr_elements[0]:
        row = [x.text_content() for x in t.findall('td')[:-1]]
        rows.append(row)

    columns = ['Country', 'Confirmed', 'New', 'Deaths',
               'New Deaths', 'Recovered', 'Active', 'x', 'x', 'x']
    df = pd.DataFrame(rows, columns=columns)
    df = df.astype(str).replace('', 0).iloc[:, :-3]
    
    for col in df.columns[1:]:
        df[col] = df[col].str.replace(' ', '').replace(
            ',', '', regex=True).replace('+', '').apply(pd.to_numeric).fillna(0).astype(int)
        
    df = df.sort_values(['New', 'Confirmed'], ascending=False)
    total = df.sum().values
    total[0] = 'Total'
    return pd.concat([pd.DataFrame([total], columns=df.columns), df])
    

df = get_data()
df.head(300)

,Country,Confirmed,New,Deaths,New Deaths,Recovered,Active
0,Total,617351,21039,28377,1036,137336,451638
2,Spain,72248,6529,5690,552,12285,54273
4,Iran,35408,3076,2517,139,11679,21212
3,Germany,53340,2469,399,48,6658,46283
10,Belgium,9134,1850,353,64,1063,7718
8,Netherlands,9762,1159,639,93,3,9120
13,Portugal,5170,902,100,24,43,5027
7,Switzerland,13377,449,242,11,1530,11605
18,Israel,3460,425,12,0,89,3359
37,Philippines,1075,272,68,14,35,972
11,Austria,7964,267,68,10,225,7671
16,Australia,3635,257,14,1,170,3451
31,Russia,1264,228,4,0,49,1211
15,Norway,3970,199,20,1,7,3943
29,Romania,1452,160,29,3,139,1284
21,Malaysia,2320,159,27,1,320,1973
22,Denmark,2201,155,65,13,1,2135
0,USA,104277,151,1704,8,2525,100048
9,S. Korea,9478,146,144,5,4811,4523
20,Czechia,2422,143,9,0,11,2402
43,Mexico,717,132,12,4,4,701
35,Finland,1167,126,8,1,10,1149
32,Thailand,1245,109,6,1,97,1142
36,Indonesia,1155,109,102,15,59,994
45,Argentina,690,101,17,4,72,601
33,Saudi Arabia,1203,99,4,1,37,1162
28,Poland,1481,92,17,1,7,1457
59,New Zealand,451,83,0,0,50,401
39,Iceland,963,73,2,0,97,864
47,Estonia,645,70,1,0,20,624
58,UAE,468,63,2,0,52,414
17,Brazil,3477,60,93,1,6,3378
200,China,81394,54,3295,3,74971,3128
80,Kazakhstan,204,54,1,0,14,189
46,Slovenia,684,52,9,0,10,665
49,Croatia,635,49,4,1,45,586
56,Iraq,506,48,42,2,131,333
40,India,933,46,20,0,84,829
63,Armenia,372,43,1,0,28,343
65,Hungary,343,43,11,1,34,298
30,Pakistan,1415,42,12,1,29,1374
52,Hong Kong,560,41,4,0,112,444
71,Uruguay,274,36,0,0,0,274
102,Honduras,95,27,1,0,3,91
68,Latvia,305,25,0,0,1,304
62,Lithuania,382,24,5,0,1,376
69,Slovakia,292,23,0,0,2,290
101,Guadeloupe,96,23,2,1,17,77
60,Lebanon,412,21,8,0,27,377
88,Oman,152,21,0,0,23,129
66,Bulgaria,313,20,5,2,9,299
74,Bosnia and Herzegovina,257,20,4,0,5,248
70,Taiwan,283,16,2,0,30,251
97,Uzbekistan,104,16,2,1,5,97
64,Morocco,358,13,23,0,11,324
112,Bolivia,74,13,0,0,0,74
82,Albania,197,11,10,2,31,156
84,Vietnam,174,11,0,0,21,153
87,Faeroe Islands,155,11,0,0,54,101
92,Senegal,130,11,0,0,18,112
110,Nigeria,81,11,1,0,3,77
76,Kuwait,235,10,0,0,64,171
89,Malta,149,10,0,0,2,147
57,Bahrain,473,7,4,0,254,215
114,DRC,58,7,6,3,2,50
123,Kenya,38,7,1,0,1,36
137,Mali,18,7,0,0,0,18
100,Palestine,97,6,1,0,18,78
131,Zambia,28,6,0,0,0,28
136,El Salvador,19,6,0,0,0,19
93,Brunei,120,5,1,1,25,94
96,Sri Lanka,110,4,0,0,9,101
116,Paraguay,56,4,3,0,1,52
126,Guatemala,32,4,1,0,4,27
128,Jamaica,30,4,1,0,2,27
127,Isle of Man,32,3,0,0,0,32
108,Georgia,85,2,0,0,14,71
160,Zimbabwe,7,2,1,0,0,6
170,Sudan,5,2,1,0,0,4
173,Mauritania,5,2,0,0,0,5
67,Ukraine,311,1,8,3,5,298
145,Mongolia,12,1,0,0,0,12
171,Nepal,5,1,0,0,1,4
1,Italy,86498,0,9134,0,10950,66414
5,France,32964,0,1995,0,5700,25269
6,UK,14543,0,759,0,135,13649
12,Turkey,5698,0,92,0,42,5564
14,Canada,4757,0,55,0,354,4348
19,Sweden,3069,0,105,0,16,2948
23,Ireland,2121,0,22,0,5,2094
24,Ecuador,1627,0,41,0,3,1583
25,Chile,1610,0,5,0,43,1562
26,Luxembourg,1605,0,15,0,40,1550
27,Japan,1499,0,49,0,404,1046
34,South Africa,1170,0,1,0,31,1138
38,Greece,966,0,28,0,52,886
41,Panama,786,0,14,0,2,770
42,Singapore,732,0,2,0,183,547
44,Diamond Princess,712,0,10,0,597,105
48,Peru,635,0,11,0,16,608
50,Dominican Republic,581,0,20,0,3,558
51,Qatar,562,0,0,0,43,519
53,Colombia,539,0,6,0,10,523
54,Egypt,536,0,30,0,116,390
55,Serbia,528,0,8,0,42,478
61,Algeria,409,0,26,0,29,354
72,Andorra,267,0,3,0,1,263
73,Costa Rica,263,0,2,0,3,258
75,Jordan,235,0,1,0,18,216
77,Tunisia,227,0,7,0,2,218
78,San Marino,223,0,21,0,6,196
79,North Macedonia,219,0,3,0,3,213
81,Moldova,199,0,2,0,2,195
83,Burkina Faso,180,0,9,0,12,159
85,Azerbaijan,165,0,3,0,15,147
86,Cyprus,162,0,5,0,15,142
90,Réunion,145,0,0,0,1,144
91,Ghana,137,0,4,0,2,131
94,Venezuela,113,0,2,0,39,72
95,Afghanistan,110,0,4,0,2,104
98,Ivory Coast,101,0,0,0,3,98
99,Cambodia,99,0,0,0,13,86
103,Mauritius,94,0,2,0,0,92
104,Belarus,94,0,0,0,32,62
105,Martinique,93,0,1,0,0,92
106,Cameroon,91,0,2,0,2,87
107,Channel Islands,88,0,1,0,0,87
109,Montenegro,82,0,1,0,0,81
111,Cuba,80,0,2,0,4,74
113,Trinidad and Tobago,66,0,2,0,1,63
115,Kyrgyzstan,58,0,0,0,0,58
117,Liechtenstein,56,0,0,0,0,56
118,Gibraltar,55,0,0,0,14,41
119,Rwanda,54,0,0,0,0,54
120,Mayotte,50,0,0,0,0,50
121,Bangladesh,48,0,5,0,15,28
122,Monaco,42,0,0,0,1,41
124,Macao,34,0,0,0,10,24
125,Aruba,33,0,0,0,1,32
129,French Polynesia,30,0,0,0,0,30
130,French Guiana,28,0,0,0,6,22
132,Barbados,26,0,0,0,0,26
133,Madagascar,26,0,0,0,0,26
134,Togo,25,0,1,0,1,23
135,Uganda,23,0,0,0,0,23
138,Bermuda,17,0,0,0,2,15
139,Ethiopia,16,0,0,0,1,15
140,Maldives,16,0,0,0,9,7
141,New Caledonia,15,0,0,0,0,15
142,Tanzania,13,0,0,0,1,12
143,Djibouti,12,0,0,0,0,12
144,Equatorial Guinea,12,0,0,0,0,12
146,Dominica,11,0,0,0,0,11
147,Saint Martin,11,0,0,0,0,11
148,Niger,10,0,1,0,0,9
149,Bahamas,10,0,0,0,1,9
150,Greenland,10,0,0,0,2,8
151,Eswatini,9,0,0,0,0,9
152,Cayman Islands,8,0,1,0,0,7
153,Curaçao,8,0,1,0,2,5
154,Guinea,8,0,0,0,0,8
155,Haiti,8,0,0,0,0,8
156,Myanmar,8,0,0,0,0,8
157,Namibia,8,0,0,0,2,6
158,Suriname,8,0,0,0,0,8
159,Gabon,7,0,1,0,0,6
161,Antigua and Barbuda,7,0,0,0,0,7
162,Grenada,7,0,0,0,0,7
163,Mozambique,7,0,0,0,0,7
164,Seychelles,7,0,0,0,0,7
165,Benin,6,0,0,0,0,6
166,Eritrea,6,0,0,0,0,6
167,Laos,6,0,0,0,0,6
168,Cabo Verde,5,0,1,0,0,4
169,Guyana,5,0,1,0,0,4
172,Fiji,5,0,0,0,0,5
174,Montserrat,5,0,0,0,0,5
175,St. Barth,5,0,0,0,0,5
176,Syria,5,0,0,0,0,5
177,Nicaragua,4,0,1,0,0,3
178,Angola,4,0,0,0,0,4
179,Congo,4,0,0,0,0,4
180,Vatican City,4,0,0,0,0,4
181,Gambia,3,0,1,0,0,2
182,Bhutan,3,0,0,0,0,3
183,CAR,3,0,0,0,0,3
184,Chad,3,0,0,0,0,3
185,Liberia,3,0,0,0,0,3
186,Saint Lucia,3,0,0,0,1,2
187,Sint Maarten,3,0,0,0,0,3
188,Somalia,3,0,0,0,0,3
189,MS Zaandam,2,0,0,0,0,2
190,Anguilla,2,0,0,0,0,2
191,Belize,2,0,0,0,0,2
192,British Virgin Islands,2,0,0,0,0,2
193,Guinea-Bissau,2,0,0,0,0,2
194,Saint Kitts and Nevis,2,0,0,0,0,2
195,Turks and Caicos,2,0,0,0,0,2
196,Libya,1,0,0,0,0,1
197,Papua New Guinea,1,0,0,0,0,1
198,St. Vincent Grenadines,1,0,0,0,0,1
199,Timor-Leste,1,0,0,0,0,1

# India data

In [11]:
def get_newcases_time_series():
    url = 'https://api.covid19india.org/data.json'
    page = requests.get(url)
    df = pd.DataFrame(json.loads(page.content)[
                      'cases_time_series']).dropna().set_index('date')
    df = df.iloc[-10:, :1]
    # df.loc["Total"] = df.sum()
    df.columns = ['NewCases']
    df = df.astype(int)
    df['%Change'] = df.NewCases.pct_change()*100
    df = df[-7:]
    df['%Change'] = df['%Change'].astype(int).round(2).apply(lambda x: f'{x}%')
    return df

get_newcases_time_series()

           NewCases %Change
date
22 March         69     -9%
23 March        102     47%
24 March         66    -35%
25 March         86     30%
26 March         78     -9%
27 March        151     93%
28 March        143     -5%

In [12]:
def get_total_time_series():
    url = 'https://api.covid19india.org/data.json'
    page = requests.get(url)
    df = pd.DataFrame(json.loads(page.content)['cases_time_series']).dropna().set_index('date')
    df = df[['totalconfirmed']].rename({'totalconfirmed': 'TotalCases'}, axis=1)
    df = df.iloc[-10:,:1]
    df = df.astype(int)
    df['%Increase'] = df.TotalCases.pct_change()*100
    df = df[-7:]
    df['%Increase'] = df['%Increase'].astype(int).round(2).apply(lambda x: f'{x}%')
    return df
    
get_total_time_series()

           TotalCases %Increase
date
22 March          403       20%
23 March          505       25%
24 March          571       13%
25 March          657       15%
26 March          735       11%
27 March          886       20%
28 March         1029       16%

In [19]:
def get_data():
    url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSc_2y5N0I67wDU38DjDh35IZSIS30rQf7_NYZhtYYGU1jJYT6_kDx4YpF-qw0LSlGsBYP8pqM_a1Pd/pubhtml#'
    page = requests.get(url)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//*[@id="1896310216"]/div/table/tbody')
    rows=[]
    #For each row, store each first element (header) and an empty list
    for t in tr_elements[0]:
        row = [x.text_content() for x in t.findall('td')[:-1]]
        rows.append(row)

    df = pd.DataFrame(rows[1:], columns=rows[0]).replace('', None).dropna().drop_duplicates()
    df[['Confirmed', 'Recovered', 'Deaths', 'Active']] = df[['Confirmed', 'Recovered', 'Deaths', 'Active']].apply(pd.to_numeric)
    return df

df = get_data()
print(len(df))
df.head()

38

         State    Confirmed  Recovered  Deaths  Active
0        Total          569         40      10     519
2       Kerala          109          4       0     105
3  Maharashtra          107          0       2     105
4    Karnataka           41          3       1      37
5    Telangana           37          1       0      36

In [92]:
# df_new = df.copy()
# df_new.Confirmed = list(np.random.randint(50, size=10)) + df.Confirmed.to_list()[10:38]
# df_new = df_new.sample(frac=1)
# df_new.head()

In [9]:
def get_clean_table(df):
    message = tabulate(df, headers='keys',
                       tablefmt='simple', numalign="center")
    return '<pre>' + message + '</pre>'

try:
    bot = TelegramMessenger('../india-config.json')
except:
    bot = TelegramMessenger('india-config.json')

In [95]:
curr_date = datetime.datetime.now().date()

while True:
    df_new = get_data()
    df_update = df_new
#     df_update['old_confirmed'] = df.Confirmed
    df_update = df_update.merge(df.rename({'Confirmed': 'old_confirmed'}, axis=1))
    df_update['New'] = df_update['Confirmed'] - df_update['old_confirmed']
    df_update = df_update[df_update['New']>0]
    print(df_update)
    df_update = df_update[['State', 'New', 'Confirmed', 'Deaths']].set_index('State')
    curr_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M")
    curr_time = f'Case update at: {curr_time}'
    print(curr_time)
    if len(df_update)>0:
        message = get_clean_table(df_update)
        print(message)
        bot.send_message(curr_time)
        bot.send_message(message)
    else:
        print('No new cases')
    date = datetime.datetime.now().date()
    if date != curr_date:
        df = df_new
#     break
    time.sleep(600)

Empty DataFrame
Columns: [State, , Confirmed, Recovered, Deaths, Active, old_confirmed, New]
Index: []
Case update at: 2020-03-23 23:31
No new cases

KeyboardInterrupt:

In [393]:
# !jupyter nbconvert --to script telegram.ipynb

[NbConvertApp] Converting notebook telegram.ipynb to script
[NbConvertApp] Writing 3206 bytes to telegram.py

In [ ]:
bot = TelegramMessenger('../test-config.json')

In [9]:
df = get_data()

In [10]:
df = df[['Country', 'New', 'Confirmed', 'Deaths']]
df.Country = df.Country.apply(lambda x: x[:8])
df = df.rename({'Country': 'Count','Confirmed':'Conf'}, axis=1).set_index('Count')

In [30]:
# .replace(' | ', '|').replace('------|', '|')
message = '<pre>' + tabulate(df[:120], headers='keys', tablefmt='simple', numalign="center") + '</pre>'
bot.send_message(message)

In [76]:
# url = f'https://api.telegram.org/bot11352/getUpdates'
# requests.get(url).text

In [33]:
# for g, sub_df in df.groupby(np.arange(len(df)) // 40):
#     print(sub_df.shape)

In [10]:
bot.send_message(get_clean_table(get_time_series()))