In [46]:
import numpy as np
import pandas as pd
import requests
import lxml.html as lh

from tabulate import tabulate
import json, time, datetime
import telegram

pd.set_option('display.max_rows', 500)

In [2]:
# !pip install pandas requests lxml beautifulsoup4 python-telegram-bot tabulate --upgrade

# Global data

In [51]:
def get_data():
    url = 'https://www.worldometers.info/coronavirus'
    page = requests.get(url)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//*[@id="main_table_countries_today"]/tbody[1]')
    rows = []
    #For each row, store each first element (header) and an empty list
    for t in tr_elements[0]:
        row = [x.text_content() for x in t.findall('td')[:-1]]
        rows.append(row)

    columns = ['Country', 'Confirmed', 'New', 'Deaths',
               'New Deaths', 'Recovered', 'Active', 'x', 'x']
    df = pd.DataFrame(rows, columns=columns)
    df = df.replace('', 0).iloc[:, :-2]
    
    for col in df.columns[1:]:
        df[col] = df[col].astype(str).str.replace(' ', '').replace(
            ',', '', regex=True).replace('+', '').apply(pd.to_numeric)
        
    df.dropna(inplace=True)
    df['Deaths'] = df['Deaths'].astype(int)
    return df

df = get_data()
df.head(300)

,Country,Confirmed,New,Deaths,New Deaths,Recovered,Active
0,China,81218,47,3281,4,73650,4287
1,Italy,69176,0,6820,0,8326,54030
2,USA,54867,44,782,4,378,53707
3,Spain,42058,0,2991,0,3794,35273
4,Germany,32991,0,159,0,3290,29542
5,Iran,24811,0,1934,0,8913,13964
6,France,22304,0,1100,0,3281,17923
7,Switzerland,9877,0,122,0,131,9624
8,S. Korea,9137,100,126,6,3730,5281
9,UK,8077,0,422,0,135,7520
10,Netherlands,5560,0,276,0,2,5282
11,Austria,5283,0,28,0,9,5246
12,Belgium,4269,0,122,0,461,3686
13,Norway,2866,0,12,0,6,2848
14,Canada,2792,0,26,0,112,2654
15,Portugal,2362,0,33,0,22,2307
16,Australia,2317,0,8,0,118,2191
17,Sweden,2299,0,40,0,16,2243
18,Brazil,2247,0,46,0,2,2199
19,Israel,1930,0,3,0,53,1874
20,Turkey,1872,0,44,0,0,1828
21,Malaysia,1624,0,16,0,183,1425
22,Denmark,1591,0,32,0,1,1558
23,Czechia,1394,0,3,0,10,1381
24,Ireland,1329,0,7,0,5,1317
25,Japan,1193,0,43,0,285,865
26,Luxembourg,1099,0,8,0,6,1085
27,Ecuador,1082,0,27,0,3,1052
28,Pakistan,972,0,7,0,18,947
29,Chile,922,0,2,0,17,903
30,Poland,901,0,10,0,1,890
31,Thailand,827,0,4,0,52,771
32,Romania,794,0,12,0,79,703
33,Finland,792,0,1,0,10,781
34,Saudi Arabia,767,0,1,0,28,738
35,Greece,743,0,20,0,29,694
36,Diamond Princess,712,0,10,0,587,115
37,Indonesia,686,0,55,0,30,601
38,Iceland,648,0,2,0,51,595
39,India,562,26,11,1,40,511
40,Singapore,558,0,2,0,156,400
42,Philippines,552,0,35,0,20,497
44,Russia,495,0,1,0,22,472
45,Slovenia,480,0,4,0,3,473
46,Panama,443,0,6,0,1,436
47,Peru,416,0,7,0,1,408
48,Egypt,402,0,20,0,80,302
49,Bahrain,392,0,3,0,177,212
50,Argentina,387,0,6,0,52,329
51,Hong Kong,387,0,4,0,102,281
52,Croatia,382,0,1,0,5,376
53,Colombia,378,0,3,0,6,369
55,Mexico,367,0,4,0,4,359
56,Lebanon,318,0,4,0,8,306
57,Iraq,316,0,27,0,75,214
58,Dominican Republic,312,0,6,0,3,303
59,Serbia,303,0,3,0,15,285
60,Algeria,264,0,19,0,24,221
62,UAE,248,0,2,0,45,201
63,Bulgaria,218,0,3,0,3,212
64,Taiwan,216,0,2,0,29,185
65,Lithuania,209,0,2,0,1,206
71,San Marino,187,0,21,0,4,162
72,Hungary,187,0,9,0,21,157
73,Costa Rica,177,0,2,0,2,173
74,Morocco,170,0,5,0,6,159
75,Bosnia and Herzegovina,168,0,3,0,2,163
76,Andorra,164,0,1,0,1,162
78,North Macedonia,148,0,2,0,1,145
80,Moldova,125,0,1,0,2,122
81,Cyprus,124,0,3,0,3,118
82,Albania,123,0,5,0,10,108
84,Burkina Faso,114,0,4,0,7,103
85,Tunisia,114,0,4,0,1,109
88,Ukraine,102,0,3,0,1,98
93,Azerbaijan,87,0,1,0,10,76
97,Afghanistan,74,0,1,0,1,72
98,Guadeloupe,73,0,1,0,0,72
102,Cameroon,66,0,1,0,2,63
104,Martinique,57,0,1,0,0,56
106,Ghana,53,0,2,0,0,51
109,Cuba,48,0,1,0,1,46
110,Montenegro,47,0,1,0,0,46
111,DRC,45,0,2,0,0,43
112,Nigeria,44,0,1,0,2,41
113,Mauritius,42,0,2,0,0,40
116,Bangladesh,39,0,4,0,5,30
117,Puerto Rico,39,0,2,0,1,36
118,Paraguay,37,10,3,1,0,34
122,Guam,32,0,1,0,0,31
125,Jamaica,25,4,1,0,2,22
131,Guatemala,21,0,1,0,0,20
151,Cayman Islands,6,0,1,0,0,5
152,Curaçao,6,0,1,0,0,5
153,Gabon,6,0,1,0,0,5
156,Guyana,5,0,1,0,0,4
165,Cabo Verde,3,0,1,0,0,2
166,Gambia,3,0,1,0,0,2
167,Sudan,3,0,1,0,0,2
168,Zimbabwe,3,0,1,0,0,2

# India data

In [19]:
def get_data():
    url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSc_2y5N0I67wDU38DjDh35IZSIS30rQf7_NYZhtYYGU1jJYT6_kDx4YpF-qw0LSlGsBYP8pqM_a1Pd/pubhtml#'
    page = requests.get(url)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//*[@id="1896310216"]/div/table/tbody')
    rows=[]
    #For each row, store each first element (header) and an empty list
    for t in tr_elements[0]:
        row = [x.text_content() for x in t.findall('td')[:-1]]
        rows.append(row)

    df = pd.DataFrame(rows[1:], columns=rows[0]).replace('', None).dropna().drop_duplicates()
    df[['Confirmed', 'Recovered', 'Deaths', 'Active']] = df[['Confirmed', 'Recovered', 'Deaths', 'Active']].apply(pd.to_numeric)
    return df

df = get_data()
print(len(df))
df.head()

38

         State    Confirmed  Recovered  Deaths  Active
0        Total          569         40      10     519
2       Kerala          109          4       0     105
3  Maharashtra          107          0       2     105
4    Karnataka           41          3       1      37
5    Telangana           37          1       0      36

In [9]:
df[['State', 'Confirmed']].iloc[0,1]

517

In [92]:
# df_new = df.copy()
# df_new.Confirmed = list(np.random.randint(50, size=10)) + df.Confirmed.to_list()[10:38]
# df_new = df_new.sample(frac=1)
# df_new.head()

In [51]:
class TelegramMessenger:
    """
    https://forums.fast.ai/t/training-metrics-as-notifications-on-mobile-using-callbacks/17330/4

    Utilizes this API Library:
       https://github.com/python-telegram-bot/python-telegram-bot
    To install:
       pip install python-telegram-bot --upgrade

    {"api_key": "462203107:<your API key>",
     "chat_id": "<your chat ID>"}

    Here's how you get an API key:
       https://core.telegram.org/api/obtaining_api_id
    Here's how you get your chat ID:
       https://stackoverflow.com/questions/32423837/telegram-bot-how-to-get-a-group-chat-id

    """

    def __init__(self, cred_file_path):
        self.__credentials = json.loads(open(cred_file_path).read())
        # Initialize bot
        self.bot = telegram.Bot(token=self.__credentials['api_key'])

    def send_message(self, message='Done'):
        self.bot.send_message(parse_mode='HTML', chat_id=self.__credentials['chat_id'], text=message)

In [94]:
try:
    bot = TelegramMessenger('../india-config.json')
except:
    bot = TelegramMessenger('india-config.json')

In [95]:
curr_date = datetime.datetime.now().date()

while True:
    df_new = get_data()
    df_update = df_new
#     df_update['old_confirmed'] = df.Confirmed
    df_update = df_update.merge(df.rename({'Confirmed': 'old_confirmed'}, axis=1))
    df_update['New'] = df_update['Confirmed'] - df_update['old_confirmed']
    df_update = df_update[df_update['New']>0]
    print(df_update)
    df_update = df_update[['State', 'New', 'Confirmed', 'Deaths']].set_index('State')
    curr_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M")
    curr_time = f'Case update at: {curr_time}'
    print(curr_time)
    if len(df_update)>0:
        message = tabulate(df_update, headers='keys', tablefmt='simple', numalign="right")
        print(message)
        bot.send_message(curr_time)
        bot.send_message(message)
    else:
        print('No new cases')
    date = datetime.datetime.now().date()
    if date != curr_date:
        df = df_new
#     break
    time.sleep(600)

Empty DataFrame
Columns: [State, , Confirmed, Recovered, Deaths, Active, old_confirmed, New]
Index: []
Case update at: 2020-03-23 23:31
No new cases

KeyboardInterrupt:

In [393]:
# !jupyter nbconvert --to script telegram.ipynb

[NbConvertApp] Converting notebook telegram.ipynb to script
[NbConvertApp] Writing 3206 bytes to telegram.py

In [74]:
# bot = TelegramMessenger('../test-config.json')

In [75]:
# bot.send_message('hi')

In [76]:
# url = f'https://api.telegram.org/bot11352/getUpdates'
# requests.get(url).text

In [33]:
# for g, sub_df in df.groupby(np.arange(len(df)) // 40):
#     print(sub_df.shape)